@font-face {
  font-family: RubikBold;
  src: url("../src/assets/fonts/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_18pt-Bold.ttf");
}

@import "tailwindcss";

@theme {
  --font-rubikbold: RubikBold, "sans-serif";
  --font-inter: Inter, "sans-serif";
}
