@font-face {
  font-family: Rubik;
  src: url("../src/assets/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_18pt-Bold.ttf");
}

@import "tailwindcss";

@theme {
  --color-primary: #ff6900;
  --color-secondary: #0096ff;
  --font-primary: Rubik, "sans-serif";
  --font-inter: Inter, "sans-serif";
}
